@import "tailwindcss";

body{
  height:100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1e3a63;
}

html{
  scroll-behavior: smooth;
  
}


#root{
  height:100%;
  min-height: 100vh;
  min-width: 100vw;
}